
html {
	color: #444;
	font-size: 62.5%;
}

body {
	font-family: helvetica,arial,san-serif;
	font-size: 1.6em;
	line-height: 1.5;
	margin: 0 auto 1em;
	padding: 0 1em;
	max-width: 1024px;
}

h1 {
	font-size: 1.8em;
}

h2 {
	font-size: 1.4em;
	font-weight: normal;
}

a {
	color: #06c;
	text-decoration: none;
}

code {
	font-family: consolas,monaco,monospace;
	font-size: .8em;
	color: #060;
}

